<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdui/1.0.2/css/mdui.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-indigo">
<style>
    #main {min-height: calc(100vh - 150px);}
    .bottom-nav{padding: 10px 0;width: 100%;}
    .nav-text{margin: 20px 20px;}
    .word-wrap{word-break: break-all}
</style>
<div class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <a href="{:url('/')}" class="mdui-typo-headline">{:lang("Server Monitor")}</a>
        <div class="mdui-toolbar-spacer"></div>
        <span id="purge" class="mdui-btn mdui-btn-icon" title="Remove All">
            <i class="mdui-icon material-icons">&#xe92b;</i>
        </span>
        <span id="clear" class="mdui-btn mdui-btn-icon" title="Remove Invalid">
            <i class="mdui-icon material-icons">&#xe16c;</i>
        </span>
        <a href="{:url('admin/index/logout')}" class="mdui-btn mdui-btn-icon" title="Logout">
            <i class="mdui-icon material-icons">&#xe879;</i>
        </a>
    </div>
</div>
<div class="mdui-container">
    <div class="mdui-panel" id="main">
        <div class="mdui-panel-item mdui-panel-item-open">
            <div class="mdui-panel-item-header">
                <div class="mdui-panel-item-title">Control</div>
            </div>
            <div class="mdui-panel-item-body">
                <div class="mdui-col-md-4" id="ajax-list"></div>
                <div class="mdui-col-md-4" id="ajax-main"></div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-nav mdui-color-indigo">
    <div class="nav-text">
        <p class="mdui-text-color-white-text">LittleJake, 2020. </p>
        <p class="mdui-text-color-white-secondary">{:lang('License')}</p>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdui/1.0.2/js/mdui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $.ajax({
        url: "{:url('admin/index/index', ['type' => 'list'])}",
        success: function(data){$('#ajax-list').html(data);mdui.mutation(); },
        error: function (data, status, e){mdui.snackbar({message: e});}
    });
    $.ajax({
        url: "{:url('admin/index/index', ['type' => 'main'])}",
        success: function(data){$('#ajax-main').html(data);mdui.mutation(); },
        error: function (data, status, e){mdui.snackbar({message: e});}
    });
    
    $('#purge').on('click', function(){
        mdui.confirm("Are you sure to purge all data?", function(){
            mdui.prompt('Please input "YES" to procceed.',
            function (value) {
                if (value === 'YES'){
                    $.ajax({
                        url: "{:url('admin/info/purge')}", type: 'GET',
                        success: function (resp) {mdui.snackbar({message: 'Node deleted.', position: 'bottom'});reload_list();},
                        error: function (data, status, e) {mdui.snackbar({message: e, position: 'bottom'})}
                    });
                } else {
                    mdui.snackbar({message: 'Cancelled.', position: 'bottom'});
                }
            }, function(){mdui.snackbar({message: 'Cancelled.', position: 'bottom'});});
        });
    });
    
    $('#clear').on('click', function(){
        mdui.confirm("Are you sure to clear invalid data?", function(){
            $.ajax({
                url: "{:url('admin/info/clear')}", type: 'GET',
                success: function (resp) {mdui.snackbar({message: 'Cleared.', position: 'bottom'});reload_list();},
                error: function (data, status, e) {mdui.snackbar({message: e, position: 'bottom'})}
            });
        });
    });
</script>
</body>
</html>