<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:lang("Server Monitor")}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icon-css@3.4.6/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zdhxiong/mdui@0.4.3/dist/css/mdui.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo">
<style>
    #ajax {min-height: calc(100vh - 150px);}
    .bottom-nav{padding: 10px 0;width: 100%;}
    .nav-text{margin: 20px 20px;}
</style>
<div class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target:'#drawer',swipe:true}">
            <i class="mdui-icon material-icons">menu</i>
        </span>
        <a href="{:url('/')}" class="mdui-typo-headline">{:lang("Server Monitor")}</a>
        <div class="mdui-toolbar-spacer"></div>
    </div>
    <div class="mdui-progress mdui-hidden" id="loading">
        <div class="mdui-progress-indeterminate"></div>
    </div>
</div>
<div class="mdui-drawer" id="drawer">
    <div class="mdui-list" mdui-collapse="{accordion: false}">
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">&#xe30a;</i>
                <div class="mdui-list-item-content">{:lang("Server List")}</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                {foreach $hash as $k => $v}
                <div class="mdui-list-item mdui-ripple mdui-p-l-2">
                    <span class="mdui-list-item-icon flag-icon flag-icon-{:empty($ip[$v]['countryCode'])?'none':strtolower($ip[$v]['countryCode'])}"></span>
                    <div class="mdui-list-item-content ajax-load" data-href="{:url('index/index/info',['token'=>$k])}">
                        <div class="mdui-list-item-title">
                            {:preg_replace("/\\.[\\d]+\\.[\\d]+/",".*.*",$v)}
                        </div>
                        <div class="mdui-list-item-text mdui-list-item-one-line">
                            {:empty($ip[$v]['countryCode'])?"Private":$ip[$v]['city'].", ".$ip[$v]['countryCode']}
                        </div>
                    </div>
                    {if(!empty($info[$v]) && (time() - intval($info[$v]['Update Time'])) < 500)}
                    <i class="mdui-icon material-icons mdui-text-color-green">&#xe2bf;</i>
                    {else}
                    <i class="mdui-icon material-icons mdui-text-color-red">&#xe2c1;</i>
                    {/if}
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
<div class="mdui-container" id="ajax">
    <div class="mdui-panel" mdui-panel>
        <div class="mdui-panel-item mdui-panel-item-open">
            <div class="mdui-panel-item-header">
                <div class="mdui-panel-item-title">{:lang('About')}</div>
            </div>
            <div class="mdui-panel-item-body">
                <h2>Server Monitor</h2>
                <p class="mdui-text-color-black">Made and Loved by <a href="https://github.com/LittleJake">LittleJake</a>, 2020.</p>
                <p class="mdui-text-color-black-secondary">Every code is valuable.</p>
            </div>
        </div>
    </div>
</div>
<div class="bottom-nav mdui-color-theme">
    <div class="nav-text">
        <p>LittleJake, 2020. </p>
        <p>{:lang('License')}</p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/zdhxiong/mdui@0.4.3/dist/js/mdui.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.5.1/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kimmobrunfeldt/progressbar.js@1.1.0/dist/progressbar.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4.8.0/dist/echarts.min.js"></script>
<script>
    $('.ajax-load').on('click',function () {
        url = $(this).attr('data-href');
        $('#loading').removeClass("mdui-hidden");
        $.ajax({
            'url': url,
            'success': function(data){
                $('#ajax').html(data);
                mdui.mutation();
                $('#loading').addClass("mdui-hidden");
            },
            'error': function () {
                window.location = url;
            }
        });
    })
</script>
</body>
</html>