<style>
    .line {
        margin: 20px;
        height: 8px;
        position: relative;
    }
</style>
<div class="mdui-panel" mdui-panel>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe88e;</i>
            <div class="mdui-panel-item-title">{:lang("System Info")}</div>
            <div class="mdui-panel-item-summary">{:lang("System Info Description")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12 mdui-col-md-6 mdui-typo">
                {foreach $info as $k => $v}
                <h4>{:lang($k)}</h4>
                {if $k == 'Update Time'}
                <p>{$v|date="Y-m-d H:i:s"}</p>
                {elseif ($k == 'System Version' || $k == 'CPU')}
                <p>
                    <img height="32" width="32" src="{:getIcon($v)}" />
                    {$v|default='None'}
                </p>
                {else}
                <p>{$v|default='None'}</p>
                {/if}
                {/foreach}
            </div>
            <div class="mdui-col-xs-12 mdui-col-md-6 mdui-typo">
                <h4>{:lang("Process")}</h4>
                <p>{$json['Process']}</p>
                <h4>{:lang("Connection")}</h4>
                <p>{$json['Connection']}</p>
                <h4>{:lang("Uptime")}</h4>
                <p>{$uptime}</p>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe24b;</i>
            <div class="mdui-panel-item-title">{:lang("CPU Load")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-row">
                <div id="cpu_1_min" class="mdui-col-xs-12 mdui-col-md-4" style="height: 300px;"></div>
                <div id="cpu_5_min" class="mdui-col-xs-12 mdui-col-md-4" style="height: 300px;"></div>
                <div id="cpu_15_min" class="mdui-col-xs-12 mdui-col-md-4" style="height: 300px;"></div>
            </div>
            <div id="cpu-collection" class="mdui-col-xs-12" style="height: 300px;">
                <div class="mdui-spinner"></div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xeb3b;</i>
            <div class="mdui-panel-item-title">{:lang("Thermal")}</div>
            <div class="mdui-panel-item-summary">{:lang("CPU Temperature")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div>
                <div id="thermal-collection" class="mdui-col-xs-12" style="height: 300px;">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe1db;</i>
            <div class="mdui-panel-item-title">{:lang("Storage")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-lg-3">
                <p>{$json['Disk']['used']} / {$json['Disk']['total']}</p>
                <div id="disk_status" class="mdui-col-xs-12" style="height: 300px;"></div>
            </div>
            <div class="mdui-col-lg-9">
                <div id="disk-collection" class="mdui-col-xs-12" style="height: 300px;">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe322;</i>
            <div class="mdui-panel-item-title">{:lang("Memory")}</div>
            <div class="mdui-panel-item-summary">{:lang("Memory Description")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div>
                <h4>{:lang('Memory')}</h4>
                <p>{$json['Memory']['Mem']['used']} MB / {$json['Memory']['Mem']['total']} MB</p>
                <div id="memory_status" class="line"></div>
                <h4>{:lang('Swap')}</h4>
                <p>{$json['Memory']['Swap']['used']} MB / {$json['Memory']['Swap']['total']} MB</p>
                <div id="swap_status" class="line"></div>
                <div id="memory-collection" class="mdui-col-xs-12" style="height: 300px;">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe640;</i>
            <div class="mdui-panel-item-title">{:lang("Network")}</div>
            <div class="mdui-panel-item-summary">{:lang("Network Description")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div>
                <div id="network-collection" class="mdui-col-xs-12" style="height: 600px;">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var network_config = {
            title: {text: ''},
            tooltip: {trigger: 'axis', axisPointer: {type: 'cross', label: {backgroundColor: '#6a7985'}}},
            legend: {bottom: 50, data: ['RX Packets (k)', 'RX Throughput (MB)', 'TX Packets (k)', 'TX Throughput (MB)',]},
            grid: [{left: 50, right: 50, height: '35%'}, {left: 50, right: 50, top: '45%', height: '35%'}],
            axisPointer: {link: {xAxisIndex: 'all'}},
            yAxis: [{type: 'value'}, {gridIndex: 1, type: 'value', inverse: true}],
            dataZoom: [{show: true, realtime: true, start: 70, end: 100, xAxisIndex: [0, 1]}, {type: 'inside', realtime: true, start: 70, end: 100, xAxisIndex: [0, 1]}],
        },
        memory_config = {
            strokeWidth: 4, easing: 'easeInOut', duration: 1400, color: '#dea4ff', trailColor: '#eee', trailWidth: 1,
            svgStyle: {width: '100%', height: '100%'},
            text: {
                style: {color: '#000', position: 'absolute', right: '0', top: '15px', padding: 0, margin: 0, transform: null},
                autoStyleContainer: false
            },
            from: {color: '#FFEA82'}, to: {color: '#ED6A5A'},
            step: (state, bar) => {bar.setText(Math.round(bar.value() * 100) + ' %');}
        },
        circle_config = {series: [{type: 'gauge', detail: {formatter: '{value}%'}, axisLine: {lineStyle: {width: 5}},
                splitLine: {show: false}, axisLabel: {show: false}, data: [{}]}]},
        ctx_config = {
            tooltip: {trigger: 'axis', position: function (pt) {return [pt[0], '10%'];}},
            title: {left: 'center', text: ''},
            xAxis: {type: 'category', boundaryGap: false, data: []},
            yAxis: {type: 'value', boundaryGap: [0, '100%']},
            dataZoom: [{type: 'inside', start: 70, end: 100}, {
                start: 90, end: 100, handleSize: '80%',
                handleStyle: {
                    color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                    shadowOffsetX: 2, shadowOffsetY: 2
                }}],
            series: []
        };

    circle_config.series[0].data[0].value = "{:doubleVal($json['Disk']['percent'])}";

    //disk
    echarts.init(document.getElementById('disk_status')).setOption(circle_config);
    circle_config.series[0].data[0] = {value: Math.round("{$json['Load']['1min']}" * 100), name: "1 Min"};
    //cpu
    echarts.init(document.getElementById('cpu_1_min')).setOption(circle_config);
    circle_config.series[0].data[0] = {value: Math.round("{$json['Load']['5min']}" * 100), name: "5 Min"};
    echarts.init(document.getElementById('cpu_5_min')).setOption(circle_config);
    circle_config.series[0].data[0] = {value: Math.round("{$json['Load']['15min']}" * 100), name: "15 Min"};
    echarts.init(document.getElementById('cpu_15_min')).setOption(circle_config);

    new ProgressBar.Line(memory_status, memory_config)
        .animate("{:doubleVal($json['Memory']['Mem']['used'])/doubleVal($json['Memory']['Mem']['total'])}");
    new ProgressBar.Line(swap_status, memory_config)
        .animate(1-"{if $json['Memory']['Swap']['total'] == 0}1{else}{:doubleVal($json['Memory']['Swap']['free'])/doubleVal($json['Memory']['Swap']['total'])}{/if}");

    $.ajax({
        url: "{:url('api/network/get', ['token' => $token])}", method: "get",
        success: function(e){
            let ctx_network = echarts.init(document.getElementById('network-collection')),
                option = network_config;
            option.title.text = "Network RX & TX";
            option.xAxis = [{type: 'category', boundaryGap: false, data: e.RX.time},{
                gridIndex: 1, boundaryGap: false, data: e.TX.time, show: false}];
            option.series = [{name: 'RX Packets (k)',symbol: 'none', type: 'line', areaStyle: {}, data: e.RX.packets},
                {name: 'RX Throughput (MB)',symbol: 'none', type: 'line', areaStyle: {}, data: e.RX.megabytes},
                {name: 'TX Packets (k)',symbol: 'none', xAxisIndex: 1, yAxisIndex: 1, type: 'line', areaStyle: {}, data: e.TX.packets},
                {name: 'TX Throughput (MB)',symbol: 'none', xAxisIndex: 1, yAxisIndex: 1, type: 'line', areaStyle: {}, data: e.TX.megabytes},]

            ctx_network.setOption(option);
        }
    });
    $.ajax({
        url: "{:url('api/storage/get', ['token' => $token])}", method: "get",
        success: function(e){
            let ctx_disk = echarts.init(document.getElementById('disk-collection')), option = ctx_config;
            option.title.text = '{:lang("Storage")}';
            option.xAxis.data = e.time;
            option.series = [{
                name: 'Disk Usage(GB)', type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                itemStyle: {color: 'rgb(4,136,8)'},
                areaStyle: {color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0, color: 'rgb(251,220,135)'}, {offset: 1, color: 'rgb(101,255,70)'}])},
                data: e.load
            }];
            ctx_disk.setOption(option);
        }
    });
    $.ajax({
        url: "{:url('api/memory/get', ['token' => $token])}", method: "get",
        success: function(e){
            let ctx_mem = echarts.init(document.getElementById('memory-collection')), option = ctx_config;
            option.title.text = '{:lang("Memory")}';
            option.xAxis.data = e.memory.time;
            option.series = [{
                name: 'Memory Usage(MB)', type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                itemStyle: {color: 'rgb(144,5,146)'},
                areaStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0, color: 'rgb(205,68,255)'}, {offset: 1, color: 'rgb(255,70,199)'}])},
                data: e.memory.load
            },{
                name: 'Swap Usage(MB)', type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                itemStyle: {color: 'rgb(5,64,146)'},
                areaStyle: {color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0, color: 'rgb(68,115,255)'}, {offset: 1, color: 'rgb(70,129,255)'}])},
                data: e.swap.load
            }];
            ctx_mem.setOption(option);
        }
    });
    $.ajax({
        url: "{:url('api/cpu/get', ['token' => $token])}", method: "get",
        success: function(e){
            let ctx_cpu = echarts.init(document.getElementById('cpu-collection')), option = ctx_config;
            option.title.text = '{:lang("CPU Load")}';
            option.xAxis.data = e.time;
            option.series = [{
                name: 'CPU', type: 'line', smooth: true, symbol: 'none',
                sampling: 'average', itemStyle: {color: 'rgb(255,24,24)'},
                areaStyle: {color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0, color: 'rgb(255, 158, 68)'}, {offset: 1, color: 'rgb(255, 70, 131)'}])},
                data: e.load
            }];

            ctx_cpu.setOption(option);
        }
    });
    $.ajax({
        url: "{:url('api/cpu/get', ['token' => $token])}", method: "get",
        success: function(e){
            let ctx_cpu = echarts.init(document.getElementById('cpu-collection')), option = ctx_config;
            option.title.text = '{:lang("CPU Load")}';
            option.xAxis.data = e.time;
            option.series = [{
                name: 'CPU', type: 'line', smooth: true, symbol: 'none',
                sampling: 'average', itemStyle: {color: 'rgb(255,24,24)'},
                areaStyle: {color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0, color: 'rgb(255, 158, 68)'}, {offset: 1, color: 'rgb(255, 70, 131)'}])},
                data: e.load
            }];

            ctx_cpu.setOption(option);
        }
    });

    $.ajax({
        url: "{:url('api/thermal/get', ['token' => $token])}", method: "get",
        success: function(e){
            if (e.load.length === 0){
                document.getElementById('thermal-collection').parentNode.innerHTML="No Sensor Available.";
                return 0;
            }

            let ctx_thermal = echarts.init(document.getElementById('thermal-collection')), option = ctx_config;
            option.title.text = '{:lang("CPU Temperature")}';
            option.xAxis.data = e.time;
            option.series = [{
                name: 'Temperature', type: 'line', smooth: true, symbol: 'none',
                sampling: 'average', itemStyle: {color: 'rgb(255,24,24)'},
                areaStyle: {color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0, color: 'rgb(255,0,0)'}, {offset: 1, color: 'rgb(0,255,0)'}])},
                data: e.load
            }];

            ctx_thermal.setOption(option);
        }
    });
</script>