<style>
    .line {
        margin: 20px;
        height: 8px;
        position: relative;
    }

    .icon {
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 1.33333333em;
        line-height: 1em;
    }

    .graph {
        overflow: visible;
    }
</style>
<script>
    function load_icon(name,url,color) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "text",
            success: function(res){
                $(".icon-"+name).html(res);
                $(".icon-"+name+">svg").css("fill", color);
                $(".icon-"+name+">svg").addClass("icon");
            }
        });
    }
</script>
<div class="mdui-panel" mdui-panel>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe88e;</i>
            <div class="mdui-panel-item-title">{:lang("System Info")}</div>
            <div class="mdui-panel-item-summary">{:lang("System Info Description")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body mdui-typo">
            <div class="mdui-col-xs-12 mdui-col-md-6">
                <h4>{:lang("CPU")}</h4>
                <?php $icon = getIcon($info['CPU']) ?>
                <p class="mdui-valign"><span class="icon-{$icon[0]}"></span>{$info['CPU']|default='None'}</p>
                <script>load_icon('{$icon[0]}','{$icon[1]}','{$icon[2]}')</script>
                <h4>{:lang("System Version")}</h4>
                <?php $icon = getIcon($info['System Version']) ?>
                <p class="mdui-valign"><span class="icon-{$icon[0]}"></span>{$info['System Version']|default='None'}</p>
                <script>load_icon('{$icon[0]}','{$icon[1]}','{$icon[2]}')</script>
                <h4>{:lang("IPV4")}</h4>
                <p>{$info['IPV4']|default='None'}</p>
                <h4>{:lang("IPV6")}</h4>
                <p>{$info['IPV6']|default='None'}</p>
                <h4>{:lang("Location")}</h4>
                <p class="mdui-valign"><span class="mdui-list-item-icon flag-icon flag-icon-{:empty($info['Country Code'])?'none':strtolower($info['Country Code'])}"></span>{$info['Country']}</p>
                <h4>{:lang("Agent Version")}</h4>
                <p>{$info['Agent Version']|default='N/A'}</p>
            </div>
            <div class="mdui-col-xs-12 mdui-col-md-6">
                <h4>{:lang("Process")}</h4>
                <p>{$info['Process']|default="N/A"}</p>
                <h4>{:lang("Connection")}</h4>
                <p>{$info['Connection']|default="N/A"}</p>
                <h4>{:lang("Throughput")}</h4>
                <p>{$info['Throughput']|default="Undefined"}</p>
                <h4>{:lang("Uptime")}</h4>
                <p>{$info['Uptime']|default="N/A"}</p>
                <h4>{:lang("Load Average")}</h4>
                <p>{$info['Load Average']|default="N/A"}</p>
                <h4>{:lang("Update Time")}</h4>
                <p>{$info['Update Time']|date="Y-m-d H:i:s"}</p>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe24b;</i>
            <div class="mdui-panel-item-title">{:lang("CPU Load")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-row">
                <div class="mdui-col-xs-12">
                    <div id="cpu-collection" class="graph">
                        <div class="mdui-spinner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe1db;</i>
            <div class="mdui-panel-item-title">{:lang("Storage")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-row">
                <div class="mdui-col-lg-3">
                    <div class="mdui-container" style="overflow: scroll; max-height: 50vh;">
                        {volist name="latest['Disk']" id="row"}
                        <div class="mdui-row">
                            <h4>{$key}</h4>
                            <p>{$row.used} MB / {$row.total} MB</p>
                            <div id="disk_status_{$i}" class="line"></div>
                        </div>
                        {/volist}
                    </div>
                </div>
                <div class="mdui-col-lg-9">
                    <div id="disk-collection" class="graph">
                        <div class="mdui-spinner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe322;</i>
            <div class="mdui-panel-item-title">{:lang("Memory")}</div>
            <div class="mdui-panel-item-summary">{:lang("Memory Description")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-lg-3">
                <h4>{:lang('Memory')}</h4>
                <p>{$latest['Memory']['Mem']['used']} MB / {$latest['Memory']['Mem']['total']} MB</p>
                <div id="memory_status" class="line"></div>
                <h4>{:lang('Swap')}</h4>
                <p>{$latest['Memory']['Swap']['used']} MB / {$latest['Memory']['Swap']['total']} MB</p>
                <div id="swap_status" class="line"></div>
            </div>
            <div class="mdui-col-lg-9">
                <div id="memory-collection" class="graph">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe640;</i>
            <div class="mdui-panel-item-title">{:lang("Network")}</div>
            <div class="mdui-panel-item-summary">{:lang("Network Description")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="network-collection">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons" style="color: #5dd8ff;">&#xeb3b;</i>
            <div class="mdui-panel-item-title">{:lang("Thermal")}</div>
            <div class="mdui-panel-item-summary">{:lang("Thermal Sensor")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="thermal-collection" class="graph">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons" style="color: #009032;">&#xe1a5;</i>
            <div class="mdui-panel-item-title">{:lang("Battery")}</div>
            <div class="mdui-panel-item-summary">{:lang("Battery Sensor")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="battery-collection" class="graph">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons" style="color: #900088;">&#xe01b;</i>
            <div class="mdui-panel-item-title">{:lang("Ping")}</div>
            <div class="mdui-panel-item-summary">{:lang("Ping View")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="ping-collection" class="graph">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var bar_config = {
            strokeWidth: 4, easing: 'easeInOut', duration: 1400, color: '#33cc33', trailColor: '#eee', trailWidth: 1,
            svgStyle: {width: '100%', height: '100%'},
            text: {
                style: {color: '#000', position: 'absolute', right: '0', top: '15px', padding: 0, margin: 0, transform: null},
                autoStyleContainer: false
            },
            from: {color: '#99e699'},to: {color: '#ff8080'},
            step: (state, bar) => {bar.setText(Math.round(bar.value() * 100) + ' %');bar.path.setAttribute('stroke', state.color)}
    };

    //disk
    {volist name="latest['Disk']" id="row"}
    new ProgressBar.Line(disk_status_{$i}, bar_config).animate("{$row.percent / 100}");
    {/volist}
    
    new ProgressBar.Line(memory_status, bar_config)
        .animate("{$latest['Memory']['Mem']['percent']/100}");
    new ProgressBar.Line(swap_status, bar_config)
        .animate("{$latest['Memory']['Swap']['percent']/100}");

    $.ajax({
        url: "{:url('api/network/get', ['uuid' => $uuid])}", method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                title: {text:"Network RX & TX", left: 'center'},
                tooltip: {trigger: 'axis', axisPointer: {type: 'cross', label: {backgroundColor: '#6a7985'}}},
                legend: {bottom: 50, data: ['RX Packets (k)', 'RX Throughput (MB)', 'TX Packets (k)', 'TX Throughput (MB)',]},
                grid: [{height: '60%'}, {height: '60%'}],
                axisPointer: {link: {xAxisIndex: 'all'}},
                dataZoom: [{show: true, realtime: true, start: 70, end: 100, xAxisIndex: [0, 1]}, {type: 'inside', realtime: true, start: 70, end: 100, xAxisIndex: [0, 1]}],
                xAxis: [
                    {type: 'category', boundaryGap: false, data: e.RX.time},
                    {gridIndex: 1, boundaryGap: false, data: e.TX.time, show: false}
                ],
                yAxis: [{
                    type: 'value',
                    name: 'Packets',
                    axisLabel: {formatter: '{value} k'},
                    position: 'right',
                    axisLine: {show: true},
                    splitLine: {show: false},
                }, {
                    gridIndex: 1,
                    type: 'value',
                    name: 'Throughput',
                    axisLabel: {formatter: '{value} MB'},
                    position: 'left',
                    axisLine: {show: true},
                    splitLine: {show: false},
                }],
                series: [
                    {name: 'RX Packets (k)',symbol: 'none', type: 'line', areaStyle: {}, data: e.RX.packets,},
                    {name: 'TX Packets (k)',symbol: 'none', type: 'line', areaStyle: {}, data: e.TX.packets,},
                    {name: 'RX Throughput (MB)',symbol: 'none', xAxisIndex: 1, yAxisIndex: 1, type: 'line', areaStyle: {}, data: e.RX.megabytes,},
                    {name: 'TX Throughput (MB)',symbol: 'none', xAxisIndex: 1, yAxisIndex: 1, type: 'line', areaStyle: {}, data: e.TX.megabytes,},
                ]
            };

            ctx_network = echarts.init(document.getElementById('network-collection'), null, {height: window.innerHeight * 0.6});
            ctx_network.setOption(option);
        },
        error: function () {
            document.getElementById('network-collection').parentNode.innerHTML="Fail to load network data.";
        }
    });
    
    $.ajax({
        url: "{:url('api/disk/get', ['uuid' => $uuid])}", method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: '{:lang("Storage")}'},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {
                    type: 'value',
                    axisLabel: {formatter: '{value} MB'},
                },
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series: [],
                legend: {top: 30}
            };

            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k]
                });
            });

            ctx_disk = echarts.init(document.getElementById('disk-collection'), null, {height: window.innerHeight * 0.6});
            ctx_disk.setOption(option);
        },
        error: function () {document.getElementById('disk-collection').parentNode.innerHTML="Fail to load storage data.";}
    });

    $.ajax({
        url: "{:url('api/memory/get', ['uuid' => $uuid])}", method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: '{:lang("Memory")}'},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {
                    type: 'value',
                    axisLabel: {formatter: '{value} MB'},
                },
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series:[],
                legend: {top: 30}
            };

            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k]
                });
            });

            ctx_mem = echarts.init(document.getElementById('memory-collection'), null, {height: window.innerHeight * 0.5});
            ctx_mem.setOption(option);
        },
        error: function () {document.getElementById('memory-collection').parentNode.innerHTML="Fail to load memory data.";}
    });
    $.ajax({
        url: "{:url('api/cpu/get', ['uuid' => $uuid])}", method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: '{:lang("CPU Load")}'},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {
                    type: 'value',
                    axisLabel: {formatter: '{value} %'}
                },
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series: [],
                legend: {top: 30}
            };
            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k]
                });
            });
            ctx_cpu = echarts.init(document.getElementById('cpu-collection'), null, {height: window.innerHeight * 0.5});
            ctx_cpu.setOption(option);
        },
        error: function () {document.getElementById('cpu-collection').parentNode.innerHTML="Fail to load CPU data.";}
    });

    $.ajax({
        url: "{:url('api/thermal/get', ['uuid' => $uuid])}", method: "get", dataType: 'json',
        async: true,
        success: function(e){
            if (e.value.length === 0){
                document.getElementById('thermal-collection').innerHTML="No Sensor Available.";
                return 0;
            }

            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: '{:lang("Thermal Sensor")}'},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {
                    type: 'value',
                    axisLabel: {formatter: '{value} °C'}
                },
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series:[],
                legend: {top: 30}
            };
            
            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k],
                });
            });
            
            ctx_thermal = echarts.init(document.getElementById('thermal-collection'), null, {height: window.innerHeight * 0.6});
            ctx_thermal.setOption(option);
        },
        error: function () {document.getElementById('thermal-collection').parentNode.innerHTML="Fail to load sensor data.";}
    });

    
    $.ajax({
        url: "{:url('api/battery/get', ['uuid' => $uuid])}", method: "get", dataType: 'json',
        async: true,
        success: function(e){
            if (e.value.length === 0){
                document.getElementById('battery-collection').innerHTML="No Sensor Available.";
                return 0;
            }

            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: '{:lang("Battery Sensor")}'},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {
                    type: 'value',
                    axisLabel: {formatter: '{value} %'}
                },
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series:[],
                legend: {top: 30}
            };
            
            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k],
                });
            });
            
            ctx_battery = echarts.init(document.getElementById('battery-collection'), null, {height: window.innerHeight * 0.4});
            ctx_battery.setOption(option);
        },
        error: function () {document.getElementById('battery-collection').parentNode.innerHTML="Fail to load sensor data.";}
    });

    

    $.ajax({
        url: "{:url('api/ping/get', ['uuid' => $uuid])}", method: "get", dataType: 'json',
        async: true,
        success: function(e){
            if (e.value.length === 0){
                document.getElementById('ping-collection').innerHTML="No Ping View Available.";
                return 0;
            }

            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: '{:lang("Ping Sensor")}'},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {
                    type: 'value',
                    axisLabel: {formatter: '{value} ms'}
                },
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series:[],
                legend: {top: 30}
            };
            
            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k],
                });
            });
            
            ctx_ping = echarts.init(document.getElementById('ping-collection'), null, {height: window.innerHeight * 0.8});
            ctx_ping.setOption(option);
        },
        error: function () {document.getElementById('ping-collection').parentNode.innerHTML="Fail to load ping view data.";}
    });

    window.onresize = function() {
        ctx_battery && ctx_battery.resize();
        ctx_cpu && ctx_cpu.resize();
        ctx_disk && ctx_disk.resize();
        ctx_mem && ctx_mem.resize();
        ctx_network && ctx_network.resize();
        ctx_ping && ctx_ping.resize();
        ctx_thermal && ctx_thermal.resize();
    };
</script>
