<style>
    .line {margin: 20px;height: 8px;position: relative;}
    .graph {overflow: visible;}
</style>
<script>
    function load_icon(name,url,color) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "text",
            success: function(res){
                $(".icon-"+name).html(res);
                $(".icon-"+name+">svg").css("fill", color);
                $(".icon-"+name+">svg").addClass("mdui-list-item-icon");
            }
        });
    }
</script>
<div class="mdui-panel" mdui-panel>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe8ef;</i>
            <div class="mdui-panel-item-title">{:lang("System List")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body mdui-typo">
            
        </div>
    </div>
</div>
<script>
</script>
