<style>
    .line {
        margin: 20px;
        height: 8px;
        position: relative;
    }

    .icon {
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 1.33333333em;
        line-height: 1em;
    }

    .graph {
        overflow: visible;
    }
</style>
<script>
    function load_icon(name, url, color) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "text",
            success: function (res) {
                $(".icon-" + name).html(res);
                $(".icon-" + name + ">svg").css("fill", color);
                $(".icon-" + name + ">svg").addClass("icon");
            }
        });
    }
</script>
<div class="mdui-panel" mdui-panel>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe8ef;</i>
            <div class="mdui-panel-item-title">{:lang("System List")}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body mdui-typo">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{:lang("Server Name")}</th>
                            <th>{:lang("OS")}</th>
                            <th>{:lang("Uptime")}</th>
                            <th class="mdui-hidden-sm-down">{:lang("Throughput")}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="online" id="v"}
                        {if !isset($hide[$key])}
                        <tr>
                            <td>
                                <i class="mdui-icon material-icons mdui-text-color-green">&#xe2bf;</i>
                            </td>
                            <td>
                                <span
                                    class="flag-icon flag-icon-{:empty($v['Country Code'])?'none':strtolower($v['Country Code'])}"
                                    mdui-tooltip="{'content': '{$v['Country']|default=" Unknown"}'}"></span>
                                {:empty($names[$key])?$v['IPV4']:$names[$key]}
                            </td>
                            <td>
                                <?php $icon = getIcon($v['System Version']) ?>
                                <span class="icon-{$icon[0]}"></span>
                                <script>load_icon('{$icon[0]}', '{$icon[1]}', '{$icon[2]}')</script>
                            </td>
                            <td>
                                {$v['Uptime']|default="N/A"}
                            </td>
                            <td class="mdui-hidden-sm-down">
                                {$v['Throughput']|default="Undefined"}
                            </td>
                        </tr>
                        {/if}
                        {/volist}
                        {volist name="offline" id="v"}
                        {if !isset($hide[$key])}
                        <tr>
                            <td>
                                <i class="mdui-icon material-icons mdui-text-color-red">&#xe2c1;</i>
                            </td>
                            <td>
                                <span
                                    class="flag-icon flag-icon-{:empty($v['Country Code'])?'none':strtolower($v['Country Code'])}"
                                    mdui-tooltip="{'content': '{$v['Country']|default=" Unknown"}'}"></span>
                                {:empty($names[$key])?$v['IPV4']:$names[$key]}
                            </td>
                            <td>
                                <?php $icon = getIcon($v['System Version']) ?>
                                <span class="icon-{$icon[0]}"></span>
                                <script>load_icon('{$icon[0]}', '{$icon[1]}', '{$icon[2]}')</script>
                            </td>
                            <td>
                                {$v['Uptime']|default="N/A"}
                            </td>
                            <td class="mdui-hidden-sm-down">
                                {$v['Throughput']|default="Undefined"}
                            </td>
                        </tr>
                        {/if}
                        {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
</script>